<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9091a7">  <td>15/01/15 10:21:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="befmet.b()[pri:0, instance:demodriv.befmet@4e8d7ddd]">b</td> 
  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="9091a7">  <td>15/01/15 10:21:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;befmet.c()[pri:0, instance:demodriv.befmet@4e8d7ddd]">&gt;&gt;c</td> 
<td>&nbsp;</td>  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="9091a7">  <td>15/01/15 10:21:51</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;befmet.c()[pri:0, instance:demodriv.befmet@4e8d7ddd]">&gt;&gt;c</td> 
<td>&nbsp;</td>  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="9091a7">  <td>15/01/15 10:21:51</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="befmet.d()[pri:0, instance:demodriv.befmet@4e8d7ddd]">d</td> 
  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="9091a7">  <td>15/01/15 10:21:51</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;befmet.e()[pri:0, instance:demodriv.befmet@4e8d7ddd]">&lt;&lt;e</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="9091a7">  <td>15/01/15 10:21:51</td>   <td>47</td> <td title="&lt;&lt;befmet.g()[pri:0, instance:demodriv.befmet@4e8d7ddd]">&lt;&lt;g</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="9091a7">  <td>15/01/15 10:21:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;befmet.k()[pri:0, instance:demodriv.befmet@4e8d7ddd]">&gt;&gt;k</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="9091a7">  <td>15/01/15 10:21:51</td>   <td>-15</td> <td title="&gt;&gt;befmet.m()[pri:0, instance:demodriv.befmet@4e8d7ddd]">&gt;&gt;m</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="9091a7">  <td>15/01/15 10:21:51</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;befmet.q()[pri:0, instance:demodriv.befmet@4e8d7ddd]">&lt;&lt;q</td> 
<td>&nbsp;</td>  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="9091a7">  <td>15/01/15 10:21:51</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;befmet.q()[pri:0, instance:demodriv.befmet@4e8d7ddd]">&lt;&lt;q</td> 
<td>&nbsp;</td>  <td>main@271259266</td>   <td></td> </tr>
</table>
